* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Goldman', cursive; }

body {
  background-color: #14274e;
  background-image: url("../assets/images/principal/bg-black-orchid.png"); }

.navbar {
  padding: 20px;
  background-color: #14274ecc;
  box-shadow: 5px 5px 10px; }

.navbar-nav li {
  padding-right: 10px; }

.nav-item a {
  position: relative;
  color: #f1f6f9;
  font-size: 1.5em;
  margin: 0 10px 0 10px; }
  .nav-item a:hover {
    transition: .5s ease;
    color: #64dfdf; }

.navbar-toggler {
  color: white; }

.dropdown-item:focus, .dropdown-item:hover {
  color: #64dfdf;
  text-decoration: none; }

.dropdown-menu {
  background-color: #14274e; }

.navbar-collapse {
  text-align: center; }

.navbar .container-fluid .navbar-brand img {
  width: 200px; }

.main-text {
  position: absolute;
  top: 10%;
  width: 100%;
  color: #f1f6f9;
  text-shadow: 2px 2px 8px #000; }
  .main-text .col-md-12 h1 {
    font-size: 7em; }
  .main-text .col-md-12 h3 {
    font-size: 3em; }

.carousel-inner {
  width: 100%;
  height: 100%; }

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000; }
  .carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 10px #000;
    padding-bottom: 1rem; }

.jumbotron {
  padding: 5em;
  border-radius: 0;
  color: #f1f6f9;
  background-image: url("../assets/images/principal/bgimage-jumbotron-index.jpg");
  background-size: cover;
  background-attachment: fixed; }

.cards-profesionales {
  display: flex;
  justify-content: center;
  color: #f1f6f9; }

.cards-titulo {
  color: #f1f6f9; }
  .cards-titulo hr {
    color: #f1f6f9; }

.card-facundo {
  margin-right: 30px; }

.card-cecilia {
  margin-left: 30px; }

.redes-sociales {
  background-image: url("../assets/images/principal/bg-image-social.jpeg");
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 50px 0;
  color: #f1f6f9; }

.social-titulo h2 {
  font-size: 2em; }

.social a {
  font-size: 4.5em;
  padding: 3rem; }

.fa-facebook {
  transition: 0.2s ease-in-out; }
  .fa-facebook:hover {
    color: #3b5998;
    transform: scale(1.2, 1.2); }

.fa-instagram {
  transition: 0.2s ease-in-out; }
  .fa-instagram:hover {
    color: #d6249f;
    transform: scale(1.2, 1.2); }

.fa-whatsapp {
  transition: 0.2s ease-in-out; }
  .fa-whatsapp:hover {
    color: #4FCE5D;
    transform: scale(1.2, 1.2); }

.fa-facebook, .fa-instagram, .fa-whatsapp {
  color: #d5d5d5; }

.main-container__gallery {
  background-color: whitesmoke;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 5px; }

/* START GALLERY INDEX */
.gallery-container {
  margin: 20px;
  margin-top: 0px;
  padding: 0px 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: .5px;
  background-color: whitesmoke; }

.gallery__item {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden; }

.gallery__item:nth-child(1) {
  grid-row-start: span 2; }

.gallery__item:nth-child(5) {
  grid-row-start: span 2; }

.gallery__item:nth-child(9) {
  grid-column-start: span 2; }

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  filter: brightness(100%);
  transition: 1s; }

.gallery__item img:hover {
  filter: brightness(40%);
  transform: scale(1.2); }

/* END GALLERY INDEX */
footer {
  background-color: #252525;
  color: #9ba4b4;
  padding-top: 2rem; }
  footer a {
    color: #9ba4b4; }
  footer .container-fluid .row .col-md-4 h5 {
    font-size: 1.7em; }

hr.light-100, hr.light {
  border-top: 1px solid #9ba4b4;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem; }

.logo-footer {
  width: 20em;
  margin-top: 3em; }

.col-12 h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px; }
  .col-12 h5 a {
    font-family: 'Montserrat', sans-serif;
    color: #9ba4b4;
    text-decoration: none; }

@media screen and (max-width: 576px) {
  .main-text .col-md-12 h1 {
    font-size: 2em; }
  .main-text .col-md-12 h3 {
    font-size: 0.7em; }
  .main-text {
    top: 35%; }
  .jumbotron {
    padding: 2em; }
    .jumbotron h1 {
      font-size: 1.5rem; }
    .jumbotron .lead {
      font-size: 1rem; }
  .card-facundo, .card-cecilia {
    margin: 0; }
  .cards-titulo h1 {
    font-size: 1.6rem; }
  .social-titulo h2 {
    font-size: 1.2em;
    margin-bottom: 1em; }
  .social a {
    font-size: 3em;
    padding: 1rem; }
  .fa-facebook {
    color: #3b5998; }
  .fa-instagram {
    color: #d6249f; }
  .fa-whatsapp {
    color: #4FCE5D; }
  .logo-footer {
    width: 18em;
    margin-bottom: 2em;
    margin-top: 1em; }
  footer .container-fluid .row .col-md-4 h5 {
    font-size: 1.4em; }
  footer .container-fluid .row .col-md-4 p {
    font-size: .8em; }
  footer .container-fluid .row .col-12 h5 {
    margin-bottom: 1.3em; } }

/* No greater than 768px, no less than 576px */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .main-text .col-md-12 h1 {
    font-size: 4em; }
  .main-text .col-md-12 h3 {
    font-size: 1.5em; }
  .main-text {
    top: 35%; }
  .jumbotron {
    padding: 2em; }
    .jumbotron h1 {
      font-size: 2.5rem; }
    .jumbotron .lead {
      font-size: 1.3rem; }
  .card-facundo, .card-cecilia {
    margin: 0; }
  .cards-titulo h1 {
    font-size: 1.6rem; }
  .social-titulo h2 {
    font-size: 1.2em;
    margin-bottom: 1em; }
  .social a {
    font-size: 3em;
    padding: 1rem; }
  .fa-facebook {
    color: #3b5998; }
  .fa-instagram {
    color: #d6249f; }
  .fa-whatsapp {
    color: #4FCE5D; }
  .logo-footer {
    width: 18em;
    margin-bottom: 2em;
    margin-top: 1em; }
  footer .container-fluid .row .col-md-4 h5 {
    font-size: 1.4em; }
  footer .container-fluid .row .col-md-4 p {
    font-size: .8em; }
  footer .container-fluid .row .col-12 h5 {
    margin-bottom: 1.3em; } }

/* No greater than 992px, no less than 768px */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .nav-bar {
    margin-right: -2em; }
  .main-text .col-md-12 h1 {
    font-size: 4em; }
  .main-text .col-md-12 h3 {
    font-size: 1.5em; }
  .main-text {
    top: 35%; }
  .jumbotron {
    padding: 2em; }
    .jumbotron h1 {
      font-size: 2.5rem; }
    .jumbotron .lead {
      font-size: 1.3rem; }
  .card-facundo, .card-cecilia {
    margin: 0; }
  .cards-titulo h1 {
    font-size: 1.6rem; }
  .social-titulo h2 {
    font-size: 1.2em;
    margin-bottom: 1em; }
  .social a {
    font-size: 3em;
    padding: 1rem; }
  .fa-facebook {
    color: #3b5998; }
  .fa-instagram {
    color: #d6249f; }
  .fa-whatsapp {
    color: #4FCE5D; }
  .logo-footer {
    width: 18em;
    margin-bottom: 2em;
    margin-top: 1em; }
  footer .container-fluid .row .col-md-4 h5 {
    font-size: 1.4em; }
  footer .container-fluid .row .col-md-4 p {
    font-size: .8em; }
  footer .container-fluid .row .col-12 h5 {
    margin-bottom: 1.3em; } }

/* No greater than 1200px, no less than 992px */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .nav-bar {
    margin-right: -2em; }
  .navbar-nav {
    font-size: .8em; }
  .main-text .col-md-12 h1 {
    font-size: 4em; }
  .main-text .col-md-12 h3 {
    font-size: 1.5em; }
  .main-text {
    top: 35%; }
  .jumbotron {
    padding: 2em; }
    .jumbotron h1 {
      font-size: 2.5rem; }
    .jumbotron .lead {
      font-size: 1.3rem; }
  .card-facundo, .card-cecilia {
    margin: 0; }
  .cards-titulo h1 {
    font-size: 1.6rem; }
  .social-titulo h2 {
    font-size: 1.2em;
    margin-bottom: 1em; }
  .social a {
    font-size: 3em;
    padding: 1rem; }
  .fa-facebook {
    color: #3b5998; }
  .fa-instagram {
    color: #d6249f; }
  .fa-whatsapp {
    color: #4FCE5D; }
  .logo-footer {
    width: 18em;
    margin-bottom: 2em;
    margin-top: 1em; }
  footer .container-fluid .row .col-md-4 h5 {
    font-size: 1.4em; }
  footer .container-fluid .row .col-md-4 p {
    font-size: .8em; }
  footer .container-fluid .row .col-12 h5 {
    margin-bottom: 1.3em; } }

/* No greater than 1400px, no less than 1200px */
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .nav-bar {
    margin-right: -2em; }
  .navbar-nav {
    font-size: .8em; }
  .main-text .col-md-12 h1 {
    font-size: 3em; }
  .main-text .col-md-12 h3 {
    font-size: 2em; } }
