.nosotros__facu {
    background-image: url("../assets/images/us_facundo/bg-biofacu.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 10em;
}

.biofacu__textos--presentacion {
    padding: 5em;
    h1 {
        margin-bottom: .3em;
        text-align: center;
        font-size: 4em;
        color: #f1f6f9;
        text-shadow: 2px 2px 8px #000;
    }
    p {
        font-size: 1em;
        font-family: 'Montserrat', sans-serif !important;
        color: #f1f6f9;
    }
}

.logros-bioFacu__titulo {
    width: 100%;
    padding: 5em;
    text-align: center;
    h3 {
        font-size: 4em;
        color: #f1f6f9;
        text-shadow: 2px 2px 8px #000;
    }
}

.logros-bioFacu__nacionales-historico-titulo {
    width: 100%;
    padding: 5em;
    text-align: center;
    background-image: url("../assets/images/us_facundo/bg-logros-nacionales.jpg");
    background-attachment: fixed;
    background-size: cover;
    h1 {
        color: #f1f6f9;
        text-shadow: 2px 2px 8px #000;
    }
}

.logros__historial-nacional, .logros__historial-internacional {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5em;
}

.logros-bioFacu__internacionales-historico-titulo {
    width: 100%;
    padding: 5em;
    text-align: center;
    background-image: url("../assets/images/us_facundo/bg-logros-internacionales.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30%;
    h1 {
        color: #f1f6f9;
        text-shadow: 2px 2px 8px #000;
    }
}

.card__biofacu--logros {
    border: none;
    width: 15rem;
}

.card-img {
    width: 100%;
    text-align: center;
    img {
        width: 50%;
    }
}

.card-biofacu__desc-logro {
    font-family: 'Montserrat', sans-serif;
    color: #f1f6f9;
    font-size: .9em;
    text-align: center;
}

.biofacu__textos--frasefinal {
    background-color: #11698e;
    text-align: center;
    padding: 5em;
    font-style: italic;
    h3 {
        color: #f7f7e8;
        font-size: 2em;
        font-family: 'Montserrat', sans-serif;
    }
    p {
        color: #f7f7e8;
        text-align: center;
        font-size: .8em;
        font-family: 'Montserrat', sans-serif;
    }
}