.container-contacto {
    background-image: url("../assets/images/contact/bg-contact-form.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.container-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px 0 30px;
    h3 {
        text-align: center;
        margin-top: 50px;
        font-size: 2em;
        color: white;
    }
}

.iconosRedes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 7em;
    font-size: 4.5em;
    padding: 1rem;
    text-align: center;
}

.fa-facebook {
    transition: 0.2s ease-in-out;
    color: #3b5998;
    &:hover {
        transform: scale(1.2,1.2);
    }
}

.fa-instagram {
    transition: 0.2s ease-in-out;
    color: #d6249f;
    &:hover {
        transform: scale(1.2,1.2);
    }
}

.fa-whatsapp {
    transition: 0.2s ease-in-out;
    color: #4FCE5D;
    &:hover {
        transform: scale(1.2,1.2);
    }
}

.fa-at {
    transition: 0.2s ease-in-out;
    color: #00bebe;
    &:hover {
        transform: scale(1.2,1.2);
    }
}

.foto-contacto {
    margin: 30px 15px 30px 15px;
}