.galeria__contenedor {
    padding: 0 !important;
    margin: 0 !important;
}

.galeria__titulo {
    color: white;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 5px;
    h4 {
        font-size: 3em;
    }
    h1 {
        font-size: 7em;
    }
}

.galeria__fotos {
    box-shadow: 5px 5px 10px;
    padding: 0;
    margin: 1.5em 0 1.5em 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0px 0px;
    grid-template-areas:
    "foto01 foto01 foto02 foto02 foto02"
    "foto03 foto03 foto03 foto04 foto05"
    "foto06 foto06 foto07 foto07 foto08"
    "foto09 foto09 foto07 foto07 foto10"
    "foto11 foto11 foto12 foto12 foto12";
}
  
.foto01 {
    grid-area: foto01;
}
  
.foto02 {
    grid-area: foto02;
}
  
.foto03 {
    grid-area: foto03;
}
  
.foto04 {
    grid-area: foto04;
}
  
.foto05 {
    grid-area: foto05;
}
  
.foto06 {
    grid-area: foto06;
}
  
.foto08 {
    grid-area: foto08;
}
  
.foto09 {
    grid-area: foto09;
}
  
.foto07 {
    grid-area: foto07;
}
  
.foto10 {
    grid-area: foto10;
}
  
.foto11 {
    grid-area: foto11;
}
  
.foto12 {
    grid-area: foto12;
}
  
.galeria__item {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative;
        filter: grayscale(100%);
        transition: 1s;
        &:hover {
            filter: grayscale(0%);
            transform: scale(1.1);
        }
    }
}