.main-text {
    position: absolute;
    top: 10%;
    width: 100%;
    color: #f1f6f9;
    text-shadow: 2px 2px 8px #000;
    .col-md-12 h1 {
        font-size: 7em;
    }
    .col-md-12 h3 {
        font-size: 3em;
    }
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    h1 {
        font-size: 500%;
        text-transform: uppercase;
        text-shadow: 1px 1px 15px #000;
    }
    h3 {
        font-size: 200%;
        font-weight: 500;
        text-shadow: 1px 1px 10px #000;
        padding-bottom: 1rem;
    }
}

// Se elimina propiedad de clase jumbotron
// de archivo bootstrap: background-color:#e9ecef
.jumbotron {
    padding: 5em;
    border-radius: 0;
    color: #f1f6f9;
    background-image: url("../assets/images/principal/bgimage-jumbotron-index.jpg");
    background-size: cover;
    background-attachment: fixed;
}


// Se borra propiedad de archivo de bootstrap
// background-color:#fff
.cards-profesionales {
    display: flex;
    justify-content: center;
    color: #f1f6f9;
}

.cards-titulo {
    color: #f1f6f9;
    hr {
        color: #f1f6f9;
    }
}

.card-facundo {
    margin-right: 30px;
}

.card-cecilia {
    margin-left: 30px;
}

.redes-sociales {
    background-image: url("../assets/images/principal/bg-image-social.jpeg");
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 50px 0;
    color: #f1f6f9;
}
.social-titulo h2 {
    font-size: 2em;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-facebook {
    transition: 0.2s ease-in-out;
    &:hover {
        color: #3b5998;
        transform: scale(1.2,1.2);
    }
}

.fa-instagram {
    transition: 0.2s ease-in-out;
    &:hover {
        color: #d6249f;
        transform: scale(1.2,1.2);
    }
}

.fa-whatsapp {
    transition: 0.2s ease-in-out;
    &:hover {
        color: #4FCE5D;
        transform: scale(1.2,1.2);
    }
}

.fa-facebook, .fa-instagram, .fa-whatsapp {
    color: #d5d5d5;
}