* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Goldman', cursive;
}

body {
    background-color: #14274e;
    background-image: url("../assets/images/principal/bg-black-orchid.png");
}