// Small devices (landscape phones, 576px and up)
@media screen and (max-width: 576px) {
    .logo-footer {
        width: 18em;
        margin-bottom: 2em;
        margin-top: 1em;
    }

    footer .container-fluid .row .col-md-4 h5 {
        font-size: 1.4em;
    }

    footer .container-fluid .row .col-md-4 p {
        font-size: .8em;
    }

    footer .container-fluid .row .col-12 h5 {
        margin-bottom: 1.3em;
    }
}

// Medium devices (tablets, 768px and up)
/* No greater than 768px, no less than 576px */
@media screen and (min-width: 576px) and (max-width:768px) {
    .logo-footer {
        width: 18em;
        margin-bottom: 2em;
        margin-top: 1em;
    }

    footer .container-fluid .row .col-md-4 h5 {
        font-size: 1.4em;
    }

    footer .container-fluid .row .col-md-4 p {
        font-size: .8em;
    }

    footer .container-fluid .row .col-12 h5 {
        margin-bottom: 1.3em;
    }
}

// Large devices (desktops, 992px and up)
/* No greater than 992px, no less than 768px */
@media screen and (min-width: 768px) and (max-width:992px) {
    .logo-footer {
        width: 18em;
        margin-bottom: 2em;
        margin-top: 1em;
    }

    footer .container-fluid .row .col-md-4 h5 {
        font-size: 1.4em;
    }

    footer .container-fluid .row .col-md-4 p {
        font-size: .8em;
    }

    footer .container-fluid .row .col-12 h5 {
        margin-bottom: 1.3em;
    }
}

// X-Large devices (large desktops, 1200px and up)
/* No greater than 1200px, no less than 992px */
@media screen and (min-width: 992px) and (max-width:1200px) {
    .logo-footer {
        width: 18em;
        margin-bottom: 2em;
        margin-top: 1em;
    }

    footer .container-fluid .row .col-md-4 h5 {
        font-size: 1.4em;
    }

    footer .container-fluid .row .col-md-4 p {
        font-size: .8em;
    }

    footer .container-fluid .row .col-12 h5 {
        margin-bottom: 1.3em;
    }
}