// Large devices (desktops, 992px and up)
/* No greater than 992px, no less than 768px */
@media screen and (min-width: 768px) and (max-width:992px) { 
    .nav-bar{
        margin-right: -2em;
    }
}

// X-Large devices (large desktops, 1200px and up)
/* No greater than 1200px, no less than 992px */
@media screen and (min-width: 992px) and (max-width:1200px) {
    .nav-bar{
        margin-right: -2em;
    }

    .navbar-nav {
        font-size: 12px;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
/* No greater than 1400px, no less than 1200px */
@media screen and (min-width: 1200px) and (max-width:1400px) {
    .nav-bar{
        margin-right: -2em;
    }

    .navbar-nav {
        font-size: .8em;
    }
}