.redes-sociales {
    background-image: url("../assets/images/principal/bg-image-social.jpeg");
    background-position-y: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 50px 0;
    color: #f1f6f9;
}
.social-titulo h2 {
    font-size: 2em;
}

.social a {
    font-size: 4.5em;
    padding: 3rem;
}

.fa-facebook {
    transition: 0.2s ease-in-out;
    &:hover {
        color: #3b5998;
        transform: scale(1.2,1.2);
    }
}

.fa-instagram {
    transition: 0.2s ease-in-out;
    &:hover {
        color: #d6249f;
        transform: scale(1.2,1.2);
    }
}

.fa-whatsapp {
    transition: 0.2s ease-in-out;
    &:hover {
        color: #4FCE5D;
        transform: scale(1.2,1.2);
    }
}

.fa-facebook, .fa-instagram, .fa-whatsapp {
    color: #d5d5d5;
}